<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hoppercodes.playagps"
    android:versionCode="6"
    android:versionName="2016.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />
    <application
        android:icon="@drawable/icon"
        android:label="PlayaGPS">
        <activity android:name=".MainActivity">android:theme="@android:style/Theme.NoTitleBar"&gt;
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>